body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container {
    padding: 20px;
}
.container header {
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.container header i {
    cursor: pointer;
}
.container header i:first-child {
    margin-left: 20px;
    margin-top: 5px;
}
.container header a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.container header a:hover {
    text-decoration: underline;
}
.container header .dots {
    letter-spacing: -1px;
    display: inline;
    font-size: 20px;
    margin-left: 20px;
}
.box .image {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.box .form {
    position: absolute;
    left: 50%;
}
.box .form input[type="text"] {
    width: 550px;
    height: 40px;
    position: relative;
    transform: translate(-50%,10px);
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    padding: 0 50px;
}
.box .form input[type="text"]:hover{
    box-shadow: 0px 0px 2px 0px black;
}
.box .form input[type="text"]:focus {
    outline: none;
}
.box .form i {
    position: absolute;
    left: -47%;
    top: 24px;
    color: #9aa0a6;
}
.box .form i:nth-of-type(2) {
    position: absolute;
    left: 45%;
    top: 24px;
    color: #9aa0a6;
}
.box .form button {
    position: relative;
    transform: translate(-110% ,40px);
    border: 0;
    background-color: white;
    cursor: pointer;
    padding: 8px 13px;
}
.box .form button:hover {
    box-shadow: 0px 0px 2px 0px black;
    border-radius: 5px;
}
footer {
    position: relative;
    bottom: -419px;
    width: 99%;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #efefef;
}